* {
    padding: 0;
    margin: 0;
}
.listStudent .formSearch {
    margin-left: 25%;
    width: 270px;
}
.listStudent .formSearch .formSearch__data {
    margin-bottom: 15px;
}
.listStudent .formSearch .formSearch__data .searchLabel label {
    font-size: 14px;
    width: 75px;
}
.listStudent .formSearch .formSearch__data .searchInput input {
    background-color: #e1eaf4;
    border: 1px solid #4e82bd;
    height: 30px;
}
.listStudent .formSearch .submitData button {
    margin: auto;
    display: block;
    text-align: center;
    background-color: #4e82bd;
    height: 35px;
    width: 90px;
    font-size: 14px;
    border: 2px solid #385d89;
    border-radius: 8px;
    color: white;
}
.listStudent .showList {
    margin-top: 50px;
}
.listStudent .showList .showListWrap .addValue {
    width: 50%;
}
.listStudent .showList .showListWrap .addValue button {
    background-color: #4e82bd;
    width: 60px;
    height: 30px;
    color: white;
    border: 2px solid #385d89;
    font-size: 14px;
    border-radius: 5px;
    float: right;
}
.listStudent .showList .listData .dataTable {
    margin-top: 30px;
}

.listStudent .showList .listData .dataTable table,
tr,
th,
td {
    padding: 0px 25px 0px 25px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
}
.listStudent .showList .listData .dataTable table {
    width: 100%;
}
.listStudent .showList .listData .dataTable table,
tr,
th:first-child,
td:first-child {
    padding: 0px;
    margin-left: 20px;
}
.listStudent .showList .listData .dataTable th {
    padding-bottom: 10px;
}
.listStudent .showList .listData .dataTable .dataTable__Manage .dataTable__Manage--Delete {
    margin-right: 10px;
}
.listStudent .showList .listData .dataTable .dataTable__Manage .dataTable__Manage--Delete button {
    background-color: #91b1d6;
    border: 1px solid #4e82bd;
    margin-top: 10px;
    font-size: 14px;
    color: white;
    height: 28px;
    width: 50px;
}
.listStudent .showList .listData .dataTable .dataTable__Manage .dataTable__Manage--Edit button {
    background-color: #91b1d6;
    border: 1px solid #4e82bd;
    margin-top: 10px;
    font-size: 14px;
    color: white;
    height: 28px;
    width: 50px;
}
