* {
    padding: 0;
    margin: 0;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
}

.center .login {
    border: 3px solid rgb(105, 152, 206);
    width: 500px;
    justify-content: center;
    align-items: center;
    display: block;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.center .login .login_wrap {
    width: 300px;
    margin: auto;
}

.center .login .login_wrap .cssLogin {
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
}
.center .login .login_wrap .cssLogin input {
    width: 60%;
    border: 1.5px solid #41719b;
}
.center .login .login_wrap .cssLogin #fileImage {
    font-size: 12px;
    border: 0px;
}

.center .login .login_wrap .cssPass {
    display: flex;
}

.center .login .login_wrap .selectValue {
    margin-top: 15px;
    position: relative;
}
.center .login .login_wrap .selectValue .divideValue {
    display: inline-block;
    border: 1.5px solid #1976d2;
    background-color: #2E74B6;
    width: 75%;
    margin-right: 5px;
    padding: 5px 10px 5px 5px;
    color: white;
    font-size: 14px;
    /* text-align: center; */
    padding-left: 15px;
    padding-right: 5px;
}
.center .login .login_wrap .selectValue .divideValues {
    display: inline-block;
    border: 1.5px solid #1976d2;
    background-color: #2E74B6;
    width: 40%;
    margin-right: 10px;
    padding: 5px 10px 5px 5px;
    color: white;
    font-size: 14px;
    /* text-align: center; */
    padding-left: 15px;
    padding-right: 5px;
}
.center .login .login_wrap .selectValue select {
    height: 33px;
    width: 136px;
    border: 1.5px solid #41719b;
}

.center .login .login_wrap .loginInput {
    display: inline-block;
    border: 1.5px solid #1976d2;
    background-color: #2E74B6;
    width: 45%;
    margin-right: 10px;
    padding: 5px 10px 5px 5px;
    color: white;
    font-size: 14px;
    /* text-align: center; */
    padding-left: 15px;
    padding-right: 5px;
}

.center .login .login_wrap .gender {
    background-color: #2E74B6;
    width: 40%;
    margin-right: 10px;
    padding: 5px 10px 5px 5px;
    color: white;
    font-size: 14px;
    display: inline-block;
    /* text-align: center; */
    padding-left: 15px;
    padding-right: 5px;
    border: 1.5px solid #1976d2;
}
.center .login .login_wrap #selectGender {
    display: inline-block;
}
.center .login .login_wrap #gender0 {
    margin-left: 12px;
    margin-right: 12px;
}
.center .login .login_wrap #gender1 {
    margin-left: 22px;
    margin-right: 12px;
}

.center .login .login_wrap .push {
    text-align: center;
    margin-top: 40px;
}

.center .login .login_wrap .push .submit {
    padding: 10px 30px 10px 30px;
    background-color: #2E74B6;
    border: 2px solid #1976d2;
    border-radius: 8px;
    color: white;
}
label {
    display: inline-block;
    margin-bottom: 0rem !important;
}
/*  */
.input-daterange {
    margin-right: 30px;
}
.input-daterange input {
    /* padding: 0; */
    font-size: 12px;
    height: 33px;
    width: 80px;
    border: 1.5px solid #41719b;
    border-radius: 0px;
}
.input-daterange span {
    position: absolute;
    margin-left: 120px;
    padding-top: 10px;
    color: #2E74B6;
}
.datepicker {
    background-color: #fff;
    border-radius: 0 !important;
    align-content: center !important;
    padding: 0 !important;
}

.datepicker-dropdown {
    top: 400px !important;
    left: calc(70% - 173.5px) !important;
    border-right: #1976d2;
    border-left: #1976d2;
}

.datepicker-dropdown.datepicker-orient-left:before {
    left: calc(50% - 6px) !important;
}

.datepicker-dropdown.datepicker-orient-left:after {
    left: calc(50% - 5px) !important;
    border-bottom-color: #2E74B6;
}

.datepicker-dropdown.datepicker-orient-right:after {
    border-bottom-color: #2E74B6;
}

.datepicker table tr td.today,
span.focused {
    border-radius: 50% !important;
    background-image: linear-gradient(#fff3e0, #ffe0b2);
}

thead tr:nth-child(2) {
    background-color: #2E74B6 !important;
}

/*Weekday title*/
thead tr:nth-child(3) th {
    font-weight: bold !important;
    padding: 20px 10px !important;
    color: #bdbdbd !important;
}

tbody tr td {
    padding: 10px !important;
}

tfoot tr:nth-child(2) th {
    padding: 10px !important;
    border-top: 1px solid #cfd8dc !important;
}

.cw {
    font-size: 14px !important;
    background-color: #e8eaf6 !important;
    border-radius: 0px !important;
    padding: 0px 20px !important;
    margin-right: 10px solid #fff !important;
}

.old,
.day,
.new {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important;
}

.day.old,
.day.new {
    color: #e0e0e0 !important;
}

.day.old:hover,
.day.new:hover {
    border-radius: 50% !important;
}

.old-day:hover,
.day:hover,
.new-day:hover,
.month:hover,
.year:hover,
.decade:hover,
.century:hover {
    border-radius: 50% !important;
    background-color: #eee;
}

.active {
    border-radius: 50% !important;
    background-image: linear-gradient(#1976d2, #1976d2) !important;
    color: #fff !important;
}

.range-start,
.range-end {
    border-radius: 50% !important;
    background-image: linear-gradient(#1976d2, #1976d2) !important;
}

.range {
    background-color: #e3f2fd !important;
}

.prev,
.next,
.datepicker-switch {
    border-radius: 0 !important;
    padding: 10px 10px 10px 10px !important;
    font-size: 18px;
    opacity: 0.7;
    color: #fff;
}

.prev:hover,
.next:hover,
.datepicker-switch:hover {
    background-color: inherit !important;
    opacity: 1;
}
